{{!-- Single Solution Page --}}
{{#each this}}
{{!-- Content Area --}}
<div class=" justify-self-center">
  <div id="{{id}}" data-catId="{{category_id}}" data-views="{{page_views}}" class="flex flex-wrap px-2 shadow-inner rounded bg-slate-700 border border-slate-500 lg:w-72rem md:w-32rem">
    <h2 class="text-center underline text-zinc-300 font-bold text-2xl w-full">{{capitalize_first name}}</h2>
    <pre style="white-space: pre-wrap" class="text-slate-200 break-words pt-4 w-full">{{solution}}</pre>
  </div>

  {{!-- Delete Button --}}
  <div class="lg:pl-60 pt-8">
  <button id='deleteBtn'type="submit" data-delId="{{id}}"
    class="justify-self-start w-20 h-12 bg-red-500 hover:bg-red-700 px-1 text-sm font-bold text-white border border-slate-500 rounded">
    Delete
  </button>

  {{!-- Edit Button --}}
  <button id='edit-btn' type="submit"
    class="justify-self-start w-20 h-12 bg-sky-600 hover:bg-sky-800 px-1 text-sm font-bold text-white border border-slate-500 rounded">
    Edit
  </button>
</div>
</div>
{{/each}} 

  {{!-- <script src="/javascript/deleteSolution.js"></script> --}}