{{#each this}}
<div class="shadow-inner rounded bg-slate-700 border border-slate-500">
<div id="{{id}}" data-catId="{{category_id}}" data-views="{{page_views}}">
  <h2 class="text-center underline text-zinc-300 text-2xl">{{capitalize_first name}}</h2>
  <pre style="white-space:pre-wrap" class="text-slate-200">{{solution}}</pre>
</div>
<button
 id='deleteBtn'type="submit" data-delId="{{id}}"
        class="justify-self-start mr-4 bg-red-500 px-1 text-sm text-white border-zinc-500 rounded">
        delete
</button>
<button id='edit-btn' type="submit"
  class="justify-self-start mr-4 bg-red-500 hover:bg-red-700 px-1 text-sm m-w-xs text-white border-2 border-stone-900 rounded">
  Edit
</button>
</div>
{{/each}} 

  <script src="/javascript/deleteSolution.js"></script>