{{#each this}}
<div class="grow w-1/2">
<button id="{{id}}" data-catId="{{category_id}}" data-views="{{page_views}}" class="object cover grow shadow-inner rounded bg-slate-700 border border-slate-500">
  <h2 class="text-center underline text-zinc-300 text-2xl">{{capitalize_first name}}</h2>
  <pre style="white-space:pre-wrap" class="flex-wrap text-left w-3/4 text-slate-200 truncate ...">{{solution}}</pre>
</button>
<button
 id='deleteBtn'type="submit" data-delId="{{id}}"
        class="justify-self-start mr-4 bg-red-500 px-1 text-sm text-white border-zinc-500 rounded">
        Delete
</button>
</div>
{{/each}} 

  <script src="/javascript/deleteSolution.js"></script>