{{> category-buttons categories}}

{{#with sol}}
<div class="items-center justify-center pl-10 lg:pl-48">
<form class="addSolution-form pt-8">
  {{!-- Title area --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="name">Solution Title: </label>
  <input type="text" id="name" maxlength="30" size="30" value="{{this.name}}" class="bg-gray-200" placeholder="  Please enter a title">
  </div>
  
  {{!-- Solution text area --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="solution">Solution: </label>
  <textarea id="solution" name="solution" form="addSolution-form" class="bg-gray-200" wrap="hard" placeholder="  Your solution goes here" rows="15" cols="102">{{this.solution}}</textarea>

  </div>
  
  {{!-- Priority selection --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="priority">Priority (low-high): </label>
  <select type="text" id="priority" class="bg-gray-200 w-24 text-center">
    <option value="{{this.priority}}">{{this.priority}}</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  </div>
  
  {{!-- Category selection --}}
  <div class="pb-3">
  <label class="text-center pr-5 text-zinc-300 text-2xl" for="category_id">Category: </label>
  <select name="category_id" id="category_id" class="bg-gray-200 text-center" placeholder="Solution Category">
    <option value="{{this.category.id}}">{{this.category.category_name}}</option>
    {{/with}}
    {{> dropdown-category categories }}
  </select>
  </div>

  {{!-- Create Solution Button --}}
  {{#with sol}}
  <div class="flex justify-center h-10 align-center">
    <button class="mr-4 font-bold bg-sky-600 hover:bg-sky-800 px-2 text-lg m-w-xs text-zinc-300 rounded-xl border-2 border-stone-90" id="save-btn" type="submit">Save Changes</button>
    <button data-catSol="{{this.category_id}}-{{this.id}}" class="mr-4 font-bold bg-gray-300 hover:bg-sky-800 px-2 text-lg m-w-xs text-slate-700 rounded-xl border-2 border-stone-90" id="cancel-btn" type="submit">Cancel Changes</button>
  </div>
{{/with}}
</form>
</div>

<script src="/javascript/saveSolution.js"></script>
